.sidebar {
  position: fixed;
  height: 100%;
  --sidebarWidth: calc(min(max(400px, 25vw), (100vw + 1px)));
  width: var(--sidebarWidth);
  right: calc(-1 * var(--sidebarWidth));
  transition: right 0.3s ease-in-out ;
  &.shown {
    right: 0;
  }
  top: 0;
  z-index: 1000;
  background: #eeeeee;
  border-left: 1px solid black;
  box-shadow: -1px 0 5px black;
  padding: 30px;
}

.sidebarButton:global(.leaflet-control) {
  // TODO: There's probably a better way to match the Leaflet controls
  font-size: x-large;
  position: absolute;
  top: 10px;
  left: -48px;
  transition: opacity 0.3s ease-in-out, display 0.3s;
  .shown & {
    opacity: 0.5;
    //display: none;
  }
  width: 32px;
  height: 32px;
  background: white;
  padding: 4px;
  border: 1px solid lightgray;
  box-shadow: 0 0 1px black;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
  line-height: normal;

  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebarCloseButton {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
}

.sidebarContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sidebarContent p {
  margin-top: 20px;
}
